/* components/Hero.module.css */

.img {
    background-image: url('https://img.freepik.com/premium-photo/minimal-soccer-photography-field-macro-high-quality-photoshoot_950002-88256.jpg');
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    height: 100vh;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.hero {
    /*Placeholderbackgroundimage*/
    background-size: cover;
    background-position: center;
    height: 100vh;
    /*Fullscreenheight*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
}

.heroContent {
    z-index: 2;
    padding: 20px;
    max-width: 80%;
    text-align: center;
    background-color: rgb(0, 0, 0);
    /*Fallbackcolor*/
    background-color: rgba(0, 0, 0, 0.4);
    border: 3px solid #f1f1f1;
    animation: fadeInUp 0.1s ease-out;
    -webkit-animation: fadeInUp 0.1s ease-out;
}

.heroTitle {
    font-size: 3.5rem;
    /*Largerfontsize*/
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 20px;
    background: linear-gradient(45deg, #ff5c00, #28a745);
    /*Gradienttext*/
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
    /*Textshadowformoredepth*/
    animation: fadeInUp 1.5s ease-out;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-animation: fadeInUp 1.5s ease-out;
}

.heroSubtitle {
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 40px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
    font-weight: 400;
    animation: fadeInUp 2s ease-out;
}

.heroButton {
    background-color: #ff5c00;
    color: white;
    font-size: 1.25rem;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    animation: fadeInUp 2.5s ease-out;
}

.heroButton:hover {
    background-color: #28a745;
}

/* Text Animation */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
        scale: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        scale: 1;
    }
}

/* Responsive Design for Mobile */
@media (max-width: 768px) {
    .heroTitle {
        font-size: 2.5rem;
        /* Adjust font size for mobile */
    }

    .heroSubtitle {
        font-size: 1.2rem;
        /* Adjust subtitle size */
    }

    .heroButton {
        font-size: 1.1rem;
        padding: 12px 25px;
    }
}